@model IEnumerable<OnlineShop.Models.ViewModels.Products.ProductVM>
@{
    ViewBag.Title = "Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="mb-3 text-center d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <div class="card mb-4 shadow-sm center-block">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">@item.Title</h4>
                </div>
                <div class="card-body">
                    <div>
                        <img src="@item.Image" class="img-thumbnail">
                    </div>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>@item.Price ₽</li>
                    </ul>
                    <a name="btn1" style="color:white;" class="btn-block btn btn-lg btn-dark mt-2" onclick="addToCart(@item.Id)">Buy</a>
                    <a href="/Home/Full?id=@item.Id" name="btn2" class="btn btn-lg btn-block btn-dark mt-2">More</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/wwwroot/js/ShopCart.js"></script>
}

